/* link Google font file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --header-height:7rem;
    /* Color */
    --main-color: #DA9F58;
    --second-color:#33211D;
    --black-color:#171717;
    --white-color:#ffffff;
    --big-font-size:3rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size:var(--normal-font-size);
    color:var(--black-color);
    position: relative;
    overflow-x: hidden;
    background-color:#FFFBF2;;
}
img{
    width: 100%;
    height: auto;
}


.btn {
    display: inline-block;
    font-family: var(--font-title);
    background-color: var(--second-color);
    padding: 0.7rem 0.5rem;
    color: var(--white-color);
    font-size: var(--h3-font-size);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .6rem;  
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.btn-alt{
    background: var(--main-color);
    color:var(--black-color) ;
}
/* Header section Start */
.header{
    position: fixed;
    padding: 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    z-index: 100;
}
.header-background{
    background-color: var(--second-color); 
} 
.header-container{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: var(--big-font-size);
    font-weight: 600;
    text-transform: uppercase;
}
.nav-menu{
    display: flex;
    align-items: center;
}
 .nav-menu li{
    margin-left: 1rem;
}
.nav-link{
    font-size: var(--normal-font-size);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    padding-bottom: 0.5rem;
}
.nav-link:hover,.active{
    color: var(--main-color);
}
.nav-toggle{
    display: none;
}